// .classe1 ul {
//     background-color: red;
// }

// .classe1 li {
//     background-color: blue;
// }

.classe1 {
    ul {
        background-color: orange;
    }
    li {
        background-color: green;
        &:hover {
            background-color: red;
            transition: 1s;
        }
    }
}